<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
	<span>
		
		<p></p>
		<p th:text="'Points: '+${Points}"> </p><br>
		<a href="/user/home">Home</a><br>
		<a href="/user/task">Modify Tasks</a><br>
		<a href="/user/submit">Submit Timesheet</a><br>
		<a href="/user/submissionrecords">Last 10 Submission report</a><br>
		<a href="/user/deletetimesheet">Delete Timesheet</a><br>
		<a href="/user/pointsHistory"> points History</a><br>
		<a href="/user/addreward">Add reward</a><br>
		<a href="/user/redeemReward">redeem reward</a><br>
		<a href="/user/deltereward">delete reward</a><br>
		<a href="/user/redeemMovies">Watch Movies</a><br>
		<a href="/user/redeemWebseries">Watch Web Series</a>
	</span>
	</body>
</html>