<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<div th:object="${dailyTimesheetRequestBean}">
			<p th:text="'Date :'+ ${dailyTimesheetRequestBean.tdate}"> </p>
			<div th:each="timeSheetTask : ${dailyTimesheetRequestBean.timeSheetTasks}">
				<div th:if="${timeSheetTask.taskType=='Boolean'}">
					<p th:text="${timeSheetTask.TaskName}+':'+${timeSheetTask.boolPoint}"></p>
				</div>
				<div th:if="${timeSheetTask.taskType=='Number'}">
					<p th:text="${timeSheetTask.TaskName}+':'+${timeSheetTask.eachPoint}"></p>
				
				</div>
			</div>
			
			</div>
		<h4>Are you sure?</h4>
		<a href="/user/suresubmittimesheet">YES</a>
		<a href="/user/submit">NO</a>
	</body>
</html>