<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<div th:object="${dailyTimesheetRequestBean}">
			<p th:text="'Date :'+ ${dailyTimesheetRequestBean.tdate}"> </p>
			<p th:text="'No Of Pomo :'+${dailyTimesheetRequestBean.noOfPomo}"></p>
			<p th:text="'No Of minsWatchVideo :'+${dailyTimesheetRequestBean.NoOfminsWatchVideo}"></p>
			<p th:text="'Exercise :'+${dailyTimesheetRequestBean.exercise}"></p>
			<p th:text="'No Of AptiPomo :'+${dailyTimesheetRequestBean.noOfAptiPomo}"></p>
			<p th:text="'No Of Questions :'+${dailyTimesheetRequestBean.noOfQuestions}"></p>
		</div>
		<h4>Are you sure?</h4>
		<a href="/user/suresubmittimesheet">YES</a>
		<a href="/user/submit">NO</a>
	</body>
</html>