<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<form th:action="@{/user/submitTimesheet}" method="post" th:object="${dailyTimesheetRequestBean}">
		<label>Date : </label><input type="date" th:field="*{tdate}"><br>
		<div th:each="timeSheetTask,itemStat : ${dailyTimesheetRequestBean.timeSheetTasks}">
			<div th:if=${timeSheetTask.taskType=='Boolean'}>
				<lable th:text="${timeSheetTask.taskName}"></lable>
				<input type="checkbox" th:field="*{timeSheetTasks[__${itemStat.index}__].boolPoint}">
			</div>
			<div th:if=${timeSheetTask.taskType=='Number'}>
				<lable th:text="${timeSheetTask.taskName}"></lable>
				<input type="number" th:field="*{timeSheetTasks[__${itemStat.index}__].eachPoint}">
			</div>
		</div>
		<button type="submit">Submit</button>  
	</form>
</body>
</html>