<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<h1>Last 10 records</h1>
		
		<div th:each="dailyTimesheetRequestBean : ${dailyTimesheetRequestBeans}">
			<p th:text="'Date :'+ ${dailyTimesheetRequestBean.tdate}"> </p>
			<div th:each="timeSheetTask : ${dailyTimesheetRequestBean.timeSheetTasks}">
				<div th:if="${timeSheetTask.taskType=='Boolean'}">
					<p th:text="${timeSheetTask.taskName}+':'+${timeSheetTask.boolPoint}"></p>
				</div>
				<div th:if="${timeSheetTask.taskType=='Number'}">
					<p th:text="${timeSheetTask.taskName}+':'+${timeSheetTask.eachPoint}"></p>
				
				</div>
			</div>
			<hr>
		</div>
	
	</body>
</html>