<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<h1>Last 10 records</h1>
		
		<div th:each="dailyTimesheetRequestBean : ${dailyTimesheetRequestBeans}">
			<p th:text="'Timesheet no: '+${dailyTimesheetRequestBean.tid}"></p>
			<p th:text="'Timesheet Date: '+${dailyTimesheetRequestBean.tdate}"></p>
			<p th:text="'No of Pomo: '+${dailyTimesheetRequestBean.noOfPomo}"></p>
			<p th:text="'No of mins Video watched:'+${dailyTimesheetRequestBean.noOfminsWatchVideo}"></p>
			<p th:text="'Exercise: '+${dailyTimesheetRequestBean.exercise}"></p>
			<p th:text="'No of Apti Pomo: '+${dailyTimesheetRequestBean.noOfAptiPomo}"></p>
			<p th:text="'No of Questions: '+${dailyTimesheetRequestBean.noOfQuestions}"></p>
			<p th:text="'Points:'+${dailyTimesheetRequestBean.points}"></p>
			<hr>
		</div>
	
	</body>
</html>